<div id="<%= dom_id ceremony %>">
  <p>
    <strong>Title:</strong>
    <%= ceremony.title %>
  </p>

  <p>
    <strong>Starts at:</strong>
    <%= ceremony.starts_at %>
  </p>

  <p>
    <strong>Finish at:</strong>
    <%= ceremony.finish_at %>
  </p>

</div>
