<h1>Cerimonias</h1>

<% @ceremonies&.each do |ceremony| %>
  <%= link_to ceremony.title, ceremony %>
<% end %>

<br>
<br>
<br>

<%= link_to "Cerimônias", ceremonies_path %>

<br>

<%= link_to "Cadastro de partes das cerimônias", ceremony_parts_path %>
