<h1>Editing ceremony part</h1>

<%= render "form", ceremony_part: @ceremony_part %>

<br>

<div>
  <%= link_to "Show this ceremony part", @ceremony_part %> |
  <%= link_to "Back to ceremony parts", ceremony_parts_path %>
</div>
